<!-- Login as: {{ appService.loggedUser?.username }}
<button (click)="logout()">Logout</button>
<hr /> -->
<div class="container">
  <h1>Main App</h1>
  
  <nav>
    <ul>
      <li><a routerLink="/react">React</a></li>
      <li><a routerLink="/vue">Vue</a></li>
      <li><a routerLink="/angular">Angular</a></li>
    </ul>
  </nav>

  <h3>========= Show all service =========</h3>

  <ng-container #comp *ngFor="let item of loaders" [ngSwitch]="item.framework">
    <app-react-wrapper
      *ngSwitchCase="'react'"
      [component]="item.component"
    ></app-react-wrapper>
    <app-vue-wrapper
      *ngSwitchCase="'vue'"
      [component]="item.component"
    ></app-vue-wrapper>
    <app-angular-wrapper
      *ngSwitchDefault
      [component]="item.component"
    ></app-angular-wrapper>
  </ng-container>
</div>
